[data-theme="light"] body, [data-theme="light"] div.main-content {
    background-color: white !important;
    transition: background-color 0.3s ease-in-out!important;
}

[data-theme="dark"] body, [data-theme="dark"] div.main-content {
    background-color: black !important;
    transition: background-color 0.3s ease-in-out!important;
}

:root {
    --orange-primary: #EEA93C !important;
}  

@media (max-width: 1200px) {
    .article-main-ctn{
        display: block!important;
    }

    .article-content img.main-illustration{
        max-width: -webkit-fill-available!important;
    }

    .swiper-wrapper{
        gap: 16px!important;
    }

    .good-deals-grid-item.d-flex.flex-column.flex-md-row .d-flex.flex-column{
        max-width: 50%!important;
    }

    .good-deals-grid-item.d-flex.flex-column.flex-md-row .d-flex.flex-column{
        max-width: 50%!important;
    }

    .grid-item.one.card-shadow.event_npr.lazy{
        border-radius: 0.5rem!important;
    }

    .event_card.last-news-card.card-shadow.bitcoin > .position-relative.last-news-card-img-ctn > .last-news-card-category{
        display: none!important;
    }

    img.last-news-card-img.lazy.loaded{
        width: -webkit-fill-available!important;
    }

    .redaction-selection-card .redaction-selection-card-img-ctn{
        height: -webkit-fill-available!important;

    }

    .redaction-selection-card img.redaction-selection-card-img{
        height: -webkit-fill-available!important;
        object-fit: cover!important;
    }
}

@media (min-width: 768px) {

/* home-start */

body{
    margin-top: 5rem!important;
}

#distrib_e1{
    display: none!important;
}

div.main-content{
    padding-top: 0px !important;
}

.page-section{
    margin-top: 0rem !important;
}

a.buy-crypto{
    /*display: none !important;*/
    border: 1px solid #EEA93C!important;
    border-radius: 0.5rem!important;
    transition: background-color 0.2 ease!important;
}

a.buy-crypto:hover{
    background-color: #EEA93C24!important;
    transition: background-color 0.2 ease!important;
}

.popover-clickable-btn{
    display: none !important;
}

header.page-header p.header-title{
    margin-top:.1rem;
}

header.page-header{
    position: fixed!important;
    width: -webkit-fill-available!important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out!important;
    padding: 0.8rem 1.5rem!important;
}

[data-theme="light"] header.page-header{
    background-color: #FFFFFFd6!important;
    border-bottom: 1px solid #E5E5E5!important;
    transition: background-color 0.3s ease-in-out!important;
    transition: border-bottom 0.3s ease-in-out!important;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] header.page-header{
    background-color: #000000d6!important;
    border-bottom: 1px solid #1A1A1A!important;
    transition: background-color 0.3s ease-in-out!important;
    transition: border-bottom 0.3s ease-in-out!important;
    transition: all 0.3s ease-in-out!important;
}

.inner-ctn{
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
}

header.page-header > div {
    display: flex!important;
    justify-content: space-between!important;
}

.d-flex.flex-md-grow-1.align-items-center.justify-content-end {
    margin-left: auto!important;
    flex-grow: 0!important;
}

#distrib_e1 a {
    padding: 0!important;
    margin-bottom: .8rem!important;
}

header.page-header nav a.popover-hover-btn{
    font-weight: 500!important;
    color: #666!important;
    margin-left: 1.6rem!important;
}

.popover-hover-btn:hover{
    transition: opacity 0.2s ease-in-out;
}

.popover-hover-btn:hover{
    opacity: 75%!important;
}

header.page-header .header-logo-ctn{
    border-right-width: 1px!important;
    border-right-style: solid!important;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="light"] header.page-header .header-logo-ctn{
    border-right-color: #E5E5E5!important;
}

[data-theme="dark"] header.page-header .header-logo-ctn{
    border-right-color: #1A1A1A!important;
}

div.main-content .section-header{
    margin: 3rem 0 1rem !important;
}

div.main-content h3.title{
    font-size: 2rem!important;
    color: var(--black-normal) !important;
    background-color: none !important;
    background: none !important;
    -webkit-text-fill-color: var(--black-normal) !important;
}

.incoming-nft-collections{
    margin-bottom: 3rem!important;
}

.last-news-snd{
    max-width: max-content!important;
}

.redaction-selection-card:not(:last-child){
    max-width: 65%!important;
}

.redaction-selection-card{
    border-radius: 0.5rem!important;
    padding: 0!important;
}

[data-theme="light"] .redaction-selection-card{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .redaction-selection-card{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="light"] .global-search-modal-ctn .input-ctn{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .global-search-modal-ctn .input-ctn{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
}

.global-search-modal-ctn .input-ctn{
    border-radius: 0.25rem!important;
}

[data-theme="light"] .market-info{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    border-radius: 0.5rem!important;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .market-info{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    border-radius: 0.5rem!important;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="light"] .incoming-nft-collection-grid .grid-item .grid-item-infos{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    border-radius: 0 0 0.5rem 0.5rem!important;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .incoming-nft-collection-grid .grid-item .grid-item-infos{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    border-radius: 0.5rem!important;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="light"] .last-news-snd-card{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    border-bottom: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .last-news-snd-card{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    border-bottom: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="light"] .last-news-snd-card:not(:last-child){
    border-bottom: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .last-news-snd-card:not(:last-child){
    border-bottom: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
}


[data-theme="light"] .card-shadow{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .card-shadow{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="light"] .good-deals-grid .good-deals-grid-item{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .good-deals-grid .good-deals-grid-item{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="light"] .cmc-tooltip{
    background-color: white!important;
    border: 0.75px solid #EAEAEA;
    border-radius: 0.25rem!important;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .cmc-tooltip{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    border-radius: 0.25rem!important;
    transition: all 0.3s ease-in-out!important;
}

.header-title.ms-2.me-1.bold{
    transition: all 0.3s ease-in-out!important;
}

.redaction-selection-card img.redaction-selection-card-img{
    border-radius: 0.5rem 0.5rem 0 0!important;
}

img.redaction-selection-card-img.lazy.loaded {
    border-radius: 0.5rem 0.5rem 0 0!important;
}

.redaction-selection-card .redaction-selection-card-img-ctn{
    border-radius: 0.5rem 0.5rem 0 0!important;
}

.redaction-selection-card .redaction-selection-card-texts{
    margin: 0rem 1rem 1rem 1rem!important;
}

.last-news-snd-card:not(:last-child){
    border-radius: 0.5rem !important;
}

.last-news-snd-card{
    border-radius: 0.5rem!important;
}

.last-news-snd{
    overflow: initial!important;
}

.last-news-snd-card .last-news-snd-card-title-ctn .last-news-snd-card-image{
    border-radius: 0.25rem!important;
    height: 6rem!important;
    width: auto!important;
}

div.main-content section a.see-all.orange{
    border: 1px solid var(--orange-gradient-to)!important;
    border-radius: 0.5rem!important;
}

div.main-content section a.see-all.pink{
    border: 1px solid var(--formation-gradient-to)!important;
    border-radius: 0.5rem!important;
    height: 50%!important;
    align-self: center!important;
}

div.main-content section a.see-all.purple{
    border: 1px solid var(--purple-gradient-to)!important;
    border-radius: 0.5rem!important;
}

div.main-content section a.see-all.green{
    border: 1px solid var(--green-gradient-to)!important;
    border-radius: 0.5rem!important;
}

div.main-content section a.see-all.blue{
    border: 1px solid var(--blue-gradient-to)!important;
    border-radius: 0.5rem!important;
}

.good-deals-card.bitcoin p.good-deals-card-category{
    border-radius: 0.15rem!important;
}

.crypto-trend-cards-ctn img.crypto-logo{
    border-radius: 100%!important;
}

.video-card-img{
    border-radius: 0.5rem !important;
}

.card-shadow{
    box-shadow: none !important;
    transition: all 0.3s ease;
}

.card-shadow:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1)!important;
}

.crypto-trend-card.card-shadow{
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
}

.last-news-card{
    padding: 0 !important;
    border-radius: 0.5rem!important;
}

.last-news-card-texts{
    padding: 0rem 1rem 0rem 1rem!important;
}

.good-deals-grid>.good-deals-grid-item{
    border-radius: 0.5rem!important;
}

.arrow-curved-icon{
    display: none !important;
}

.good-deals-card{
    flex: 1!important;
}

.good-deals-card img.good-deals-card-img{
    border-radius: 0.25rem!important;
}

.last-news-card p.last-news-card-category{
    border-radius: 0.15rem!important;
}

.last-news-card img.last-news-card-img{
    border-radius: 0.5rem 0.5rem 0 0!important;
    object-fit: cover!important;
}

.last-news-card .last-news-card-img-ctn{
    border-radius: 0.5rem 0.5rem 0 0!important;
}

.btc-knowledge-grid .grid-item{
    border-radius: 0.5rem!important;
}

p.crypto-change{
    border-radius: 0.25rem!important;
}

.crypto-trend-card{
    border-radius: 0.5rem!important;
}

.incoming-nft-collection-grid .grid-item .grid-item-infos .grid-item-infos-inner .quantity-time-price p{
    font-weight: 400!important;
}

.chain{
    border-radius: 0.25rem!important;
}

.guide-or-tutorial-card .guide-or-tutorial-bg{
    border-radius: 0.5rem!important;
}

.redaction-selection-card h4.redaction-selection-card-title{
    padding: 0px!important;
}

.redaction-selection-card-title.ps-1.animated-underline{
    padding: 0px!important;
}

[data-theme="dark"] footer.page-footer{
    background: #111111!important;
    border-top: 1px solid #333333!important;
}

[data-theme="light"] footer.page-footer{
    background: #FAFAFA!important;
    border-top: 1px solid #EAEAEA!important;
}

.redaction-selection-card .redaction-selection-card-img-ctn{
    overflow: auto!important;
}

.market-info .subtitle{
    font-size: 1.5rem!important;
}

.crypto-trend-card p.crypto-rank{
    font-weight: 400!important;
}

.publicite_avertissement{
    display: none!important;
}

#distrib_e1 > * > * {
    padding: 0rem!important;
    border-radius: 0.5rem!important;
}

#distrib_e2 > * > * {
    padding: 0rem!important;
    border-radius: 0.5rem!important;
}

#distrib_e3 > * > * {
    padding: 0rem!important;
    border-radius: 0.5rem!important;
}

#distrib_e4 > * > * {
    padding: 0rem!important;
    border-radius: 0.5rem!important;
}

#distrib_e5 > * > * {
    padding: 0rem!important;
    border-radius: 0.5rem!important;
}

#distrib_e6 > * > * {
    padding: 0rem!important;
    border-radius: 0.5rem!important;
}

.hustle-slidein-content.hustle-animate-in{
    display: none!important;
}

.cc_banner.cc_container.cc_container--open{
    display: none!important;
}

.crypto-trend-card p.crypto-full-name{
    font-weight: 400!important;
}

.incoming-nft-collections .incoming-nft-collection .title{
    display: none!important;
}

.incoming-nft-collections .incoming-nft-collection-grid{
    margin-top: 1.5rem!important;
}

.incoming-nft-collection-grid .grid-item .grid-item-cover{
    scale: 1.1!important;
    margin-bottom: 0.5rem!important;
}

.last-news-snd-card p.last-news-snd-card-date{
    font-weight: 300!important;
}

.video-card-img{
    object-fit: cover!important;
}

.last-news-card-title-ctn.d-flex.flex-row{
    margin-bottom: 0.5rem!important;
}

.good-deals-card-category{
    display: none!important;
}

.global-search-modal-ctn.visible .global-search-modal{
    border-radius: 0.25rem!important;
}

.last-news-snd{
    margin-right: 0px!important;
}

.d-block.grid-item.already-released .grid-item-infos .title{
    display: block!important;
    height: auto!important;
    margin-bottom: .5rem!important;
    margin-top: .1rem!important;
}

/* home-end */

/* actu-start */

.su-table {
    background-color: white!important;
}

.su-table table td {
    background-color: white!important;
}

.su-table-alternate table tr:nth-child(even) td{
    background-color: white!important;
}

td, tr, table, tbody {
    background-color: white!important;
    background: white!important;
}

.fd_head{
    display: none!important;
}

.last-news-card p.last-news-card-date, .last-news-card p.last-news-card-author{
    font-weight: 300!important;
}

.page-news .chips-ctn{
    display: none!important;
}

div.article-grid{
    grid-gap: 1.5rem 1rem!important;
}

.title-left-border{
    display: none!important;
}

.last-news-card h4.last-news-card-title{
    padding-left: 0px!important;
}

div.pagination-ctn{
    font-weight: 400!important;
    margin-top: 2rem!important;
}

div.pagination-ctn .pagination-item{
    border-radius: 0.25rem!important;
}

#searchBox:hover{
    border: 0.75px solid #EEA93C!important;
}

#searchBox{
    width: 20rem!important;
}

[data-theme="light"] .search-input-ctn{
    color: black!important;
}

[data-theme="dark"] .search-input-ctn{
    color: white!important;
}

.category-popover{
    border-radius: 0.25rem!important;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="light"] .category-popover{
    background-color: white!important;
    border: 0.75px solid #EAEAEA;
}

[data-theme="dark"] .category-popover{
    background-color: #111111!important;
    border: 0.5px solid #333333;
}

.category-choices > .mt-3{
    margin-top: 0!important;
}

.category-choice h4{
    font-size: 1rem!important;
}

.article-grid .last-news-card:not(:last-child){
    padding-bottom: 5px!important;
}

.last-news-card p.last-news-card-date, .last-news-card p.last-news-card-author{
    font-size: .7rem!important;
}

/* actu-end */
/* article-start */

.article-aside .most-read-article-ctn{
    margin-top: 0rem!important;
}

.share-article-ctn svg{
    width: 1rem!important;
    height: 1rem!important;
    margin: 0.1rem!important;
}

.wpd-form-head{
    display: none!important;
}

.article-content .article-date-and-author p{
    font-weight: 300!important;
}

.article-author-module .author-links a.all-articles:hover {
    color: white !important;
}

.article-aside .most-read-article-ctn>a.most-read-article>p.article-title{
    font-size: 0.9rem!important;
    font-weight: 600!important;
}

.lwptoc_i{
    border-radius: 0.5rem!important;
}

#breadcrumbs{
    display: none!important;
}

.article-subtitle{
    font-weight: 300!important;
    font-size: 1.3rem!important;
    margin-bottom: 0rem!important;
    line-height: 1 !important
}

.article-content .date-and-read-time .date{
    margin-right: 0px!important;
}

.article-content img.main-illustration{
    position: initial!important;
    width: 100%!important;
    margin: 0 0 1rem 0!important;
    border-radius: 0.5rem!important;
}

#podle-player{
    display: none!important;
}

#podle-player-container{
    display: none!important;
}

.share-article-ctn a{
    padding: 0.5rem!important;
    border-radius: 0.25rem!important;
}

.cta-gradient-2, .cta-gradient-1, .cta-gradient-3 {
    width:-webkit-fill-available!important;
    border-radius: 0.5rem!important;
    font-size: initial!important;
    margin-bottom: 1rem!important;
}

span.cta-gradient-2:hover {
    opacity: 0.8!important;
}


#btn_zengo_3 span.cta-gradient-2{
    border-radius: 0.5rem!important;
}

#btn_alyra_3 span.cta-gradient-2{
    border-radius: 0.5rem!important;
}

#btn_meria_3 span.cta-gradient-2{
    border-radius: 0.5rem!important;
}

#btn_etoro_3 span.cta-gradient-2{
    border-radius: 0.5rem!important;
}

#btn_coinbase_3 span.cta-gradient-2{
    border-radius: 0.5rem!important;
}

#btn_kraken_3 span.cta-gradient-2{
    border-radius: 0.5rem!important;
}

#btn_binance_3 span.cta-gradient-2{
    border-radius: 0.5rem!important;
}

#btn_ledger_3 span.cta-gradient-2{
    border-radius: 0.5rem!important;
}

.blcatt{
    display: none !important;
}

.crytoast-pro-cta{
    display: none !important;
}

#avertissement-crypto-monnaies-risques{
    display: none !important;
}

hustle-layout-body{
    border-radius: 0.5rem!important;
}

.article-author-module .author-links a{
    border-radius: 0.5rem!important;
    padding: 0rem 0.8rem!important;
}

.article-author-module img.author-profile-picture{
    border-radius: 0.5rem;
}

.article-author-module img.author-profile-picture{
    margin-right: 2rem!important;
}

.article-separator{
    display: none!important;
}

#wpdcom{
    margin: 0px!important;
    max-width: -webkit-fill-available!important;
}

.article-aside .most-read-article-ctn>a.most-read-article>img{
    border-radius: 0.25rem!important;
    aspect-ratio: 1!important;
}

.article-aside .what-is-cryptoast{
    margin: 0rem 0 1.5rem!important;
}

.hustle-optin{
    display: none!important;
}

.related-articles-swiper{
    padding: 0.5rem 0 0rem 0!important;
}

.article-content .date-and-read-time .date{
    padding-left: 0!important;
}

[data-theme="light"] .article-content blockquote{
    border-left: 4px solid #EEA93C!important;
    background-color: #f3f3f3!important;
    border-radius: 0.25rem!important;
}

[data-theme="dark"] .article-content blockquote{
    border-left: 4px solid #EEA93C!important;
    background-color: #232323!important;
    border-radius: 0.25rem!important;
}

.att_red{
    display: none !important;
}

.article-author-module p.bio{
    font-size: 1rem!important;
    color: #666666;
}

.article-content .article-section{
    margin-top: 0rem!important;
}

.article-section h2, .article-section p{
    line-height: 1.3 !important;
}

#myBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #EEA93C;
    z-index: 99;
  }

.swiper.related-articles-swiper.swiper-container.swiper-initialized.swiper-horizontal.swiper-pointer-events > .swiper-wrapper > .swiper-slide.swiper-slide-active > .last-news-card.card-shadow  > .last-news-card-texts > .last-news-card-title-ctn.d-flex.flex-row > .position-relative > .last-news-card-title.ps-1.animated-underline {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(1.5em * 3);
}

.swiper-wrapper > .swiper-slide.swiper-slide-next > .last-news-card.card-shadow  > .last-news-card-texts > .last-news-card-title-ctn.d-flex.flex-row > .position-relative > .last-news-card-title.ps-1.animated-underline{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(1.5em * 3);
}

.swiper-wrapper > .swiper-slide > .last-news-card.card-shadow  > .last-news-card-texts > .last-news-card-title-ctn.d-flex.flex-row > .position-relative > .last-news-card-title.ps-1.animated-underline{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(1.5em * 3);
}

#wpdcom .wpd-thread-head .wpd-thread-info{
    border-bottom: 1px solid #EEA93C!important;
    margin-bottom: -1px!important;
}

#wpdcom .wpd-thread-head{
    border-bottom: 1px solid #ccc!important;
}

.related-articles-swiper .last-news-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px -5px !important;
}

.distrib_e2{
    display: none!important;
}

.emoji.lazy.loaded{
    max-height: 24px!important;
}

.btn4 span{
    font-size: 1rem;
}

[data-theme="light"] .paywall-content::before{
    background: linear-gradient(to bottom, transparent, white)!important;
}

[data-theme="dark"] .paywall-content::before{
    background: linear-gradient(to bottom, transparent, black)!important;
}

.pwallhead{
    margin-left: 0em!important;
}

#distrib_e2{
    display: none;
}

.btn4 {
    margin-bottom: 1rem!important;
}

/* article-end */
/* formation-start */

.formation-banner{
    display: none !important;
}

.search-input-ctn{
    max-width: 17.5rem!important;
    transition: all 0.2s ease-in-out!important;
}

[data-theme="light"] .search-input-ctn{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .search-input-ctn{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    border-radius: 0.5rem!important;
}

[data-theme="light"] .filter-selector-inner{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    border-radius: 0.25rem!important;
}

[data-theme="dark"] .filter-selector-inner{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    border-radius: 0.25rem!important;
}

[data-theme="light"] .difficulty-popover{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    border-radius: 0.25rem!important;
}

[data-theme="dark"] .difficulty-popover{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    border-radius: 0.25rem!important;
}

[data-theme="light"] .formation-category-popover{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    border-radius: 0.25rem!important;
}

[data-theme="dark"] .formation-category-popover{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    border-radius: 0.25rem!important;
}

[data-theme="light"] div.pagination-ctn .pagination-item{
    margin-right: 0.5rem!important;
    padding: 0.4rem 0.8rem!important;
    border-radius: 0.25rem!important;
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA!important;
    box-shadow:none!important;
}

[data-theme="dark"] div.pagination-ctn .pagination-item{
    margin-right: 0.5rem!important;
    padding: 0.4rem 0.8rem!important;
    border-radius: 0.25rem!important;
    background-color: #111111!important;
    border: 0.75px solid #333333!important;
    box-shadow:none!important;
}

.d-flex.flex-column-reverse.align-items-md-center.flex-md-row.w-100 > .search-input-ctn.ms-md-auto.position-relative:hover {
    border: 0.75px solid #E18E8C!important;
}

.filter-selector-inner{
    display: flex!important;
}

/* formation-end */
/* cmc-start */

.prices-banner{
    display:none!important;
}

.outro{
    display:none!important;
}

#sort-icon-name, #sort-icon-price, #sort-icon-change_24h, #sort-icon-mk, #sort-icon-volume_24h{
    display:none!important;
}

#sort-icon {
    transform: rotate(180deg);
}


.prices-grid .crypto-infos .crypto-logo{
    border-radius: 100%!important;
}

.prices-grid{
    box-shadow: none!important;
}

.price-p.cut-text {
    font-size: 1rem!important;
}

.mk-p.cut-text {
    font-weight: 400!important;
}

.volume.volume-24h.cut-text {
    font-weight: 400!important;
}

.prices-grid-row.row.px-2.px-md-4.py-3.py-md-4:first-of-type{
    border-radius: 0.5rem 0.5rem 0 0!important;
}

.prices-grid-row.header{
    padding-left: 1rem!important;
    padding-right: 0rem!important;
}

.prices-grid{
    border-radius: 0.5rem!important;
}

[data-theme="light"] .prices-grid{
    border: 0.75px solid #EAEAEA!important;
}

[data-theme="dark"] .prices-grid{
    border: 0.75px solid #333333!important;
}

.h3_cmc{
    display: none!important;
}

.d-flex.flex-column.flex-md-row.crypto-infos-terciary.notel > .title{
    display: none!important;
}

.crypto-infos .crypto-infos-terciary .crypto-infos-main-stats:not(.bottom-stats) div>div>div>div.changes{
    border-radius: 0.25rem!important;
}

.market-info-grid .crypto-gainers .crypto-gainer .change, .market-info-grid .crypto-gainers .crypto-loser .change, .market-info-grid .crypto-losers .crypto-gainer .change, .market-info-grid .crypto-losers .crypto-loser .change{
    border-radius: 0.25rem!important;
}

.crypto-infos .crypto-infos-main .crypto-infos-main-name{
    font-size: 2rem!important;
    line-height: 2rem!important;
    width: 50%!important;
}

/* cmc-end */

/* nft-intro */

.d-flex.flex-row.justify-content-center.mt-3.text-align-center.mb-4{
    display: none !important;
}

#nfts-grid{
    box-shadow: none!important;
}

#sort-icon-floor-price{
    display: none !important;
}

#sort-icon-owner-amount{
    display: none !important;
}

#sort-icon-quantity{
    display: none !important;
}

#sort-icon-mk_24h{
    display: none !important;
}

#sort-icon-sell{
    display: none !important;
}

.nfts-banner{
    display: none !important;
}

.nft-disclamer{
    display: none !important;
}

.d-flex.flex-column-reverse.flex-md-row.nft-filters.align-items-md-center > .search-input-ctn.nfts-search:hover {
    border: 0.75px solid #B58CCD!important;
}

/* nft-end */
/* fiches-start */

.cryptos-banner {
    display: none !important;
}

.cryptos-section-second-title:first-of-type {
    display: none !important;
}


.introduction-paragraph{
    display: none !important;
}

.fiche_list_icon_crypto{
    display: none !important;
}

.introduction-paragraph.clamped{
    display: none !important;
}

div.cryptos-grid .cryptos-card-img{
    border-radius: 0.5rem !important;
    margin-bottom: 0.5rem!important;
}

.d-flex.align-items-center.justify-content-between.flex-wrap.cryptos-section-second-title-ctn > .search-input-ctn:hover{
    border: 0.75px solid #83D1C0!important;
}

.difficulty{
    color: black !important;
}

/* fiches-end */
/* cmc-coin-start */

.d-flex.flex-column.crypto-infos-main-desc{
    display: none !important;
}

.crypto-infos .graph-ctn{
    background: transparent!important;
}

.crypto-infos .graph-ctn{
    margin: 0!important;
    padding: 0!important;
}

[data-theme="light"] .crypto-infos .crypto-infos-terciary .crypto-infos-main-stats{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .crypto-infos .crypto-infos-terciary .crypto-infos-main-stats{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

.crypto-infos .crypto-infos-terciary .user-actions{
    border-radius: 0.5rem!important;
    padding: 1rem!important;
}

[data-theme="light"] .crypto-infos .crypto-infos-terciary .user-actions{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
}

[data-theme="dark"] .crypto-infos .crypto-infos-terciary .user-actions{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
}

.crypto-infos .crypto-infos-terciary .user-actions>.user-action{
    border-radius: 0.25rem!important;
}

.crypto-infos .crypto-infos-terciary .crypto-infos-main-stats div>div>div>p{
    font-weight: 300!important;
}

.crypto-infos .crypto-infos-terciary svg path{
    fill: var(--gray-normal)!important;
}

.exchange-list-ctn, .prices-single .crypto-bottom-description-ctn{
    padding: 0!important;
}

.price-utils{
    padding: 0!important;
    margin-bottom: 2rem!important;
}

.crypto-infos .crypto-infos-terciary .user-actions>.user-action p{
    font-weight: 400!important;
}

.main-content.prices-single .breadcrumb-desktop{
    font-weight: 400!important;
}

.crypto-infos-secondary{
    display: none!important;
}

[data-theme="light"] .buy-crypto-section-grid .buy-crypto-section-grid-item{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .buy-crypto-section-grid .buy-crypto-section-grid-item{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

.exchange-list{
    padding: 1rem!important;
}

[data-theme="light"] .exchange-list{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .exchange-list{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="light"] .market-cap-tool .market-cap-tool-card{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
    box-shadow: none !important;
}

[data-theme="dark"] .market-cap-tool .market-cap-tool-card{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
    box-shadow: none !important;
}

.last-news-of{
    padding-left: 0rem!important;
}

.exchange-list-item .pair > p{
    font-weight: 400!important;
}

.exchange-list-item .volume > p{
    font-weight: 400!important;
}

.exchange-list-item .exchange-logo-and-name>img{
    width: auto!important;
}

.exchange-list-item.header{
    border-top: none!important;
    padding-top: 0!important;
}

.d-flex.flex-column-reverse.flex-md-row.price-filters.align-items-md-center > .search-input-ctn.prices-search:hover {
    border: 0.75px solid #B48CCD!important;
}

.cmc_partner{
    display: none!important;
}

.crypto-infos .crypto-infos-main .crypto-infos-main-price-and-mk .buy-crypto>button{
    margin: 0!important;
}

.d-flex.flex-column.flex-md-row.align-items-md-center.crypto-infos-main-price-and-mk > .buy-crypto{
    border: 0!important;
    margin-left: 1rem!important;
}

.d-flex.flex-column.flex-md-row.align-items-md-center.crypto-infos-main-price-and-mk > .buy-crypto:hover{
    background-color: transparent !important;
}

.buy-popover.visible{
    z-index: 10!important;
}

.exchange-list-ctn, .prices-single .crypto-bottom-description-ctn{
    background: transparent!important;
}

.crypto-bottom-description-ctn .see-associated-paper{
    border-radius: 0.25rem!important;
    margin-right: 0.5rem!important;
}

.last-news-card p.last-news-card-category{
    max-width: 80px!important;
}

.buy-crypto-section-grid-item a.buy-crypto-btn, .buy-crypto-section-grid-item div.buy-crypto-btn{
    border-radius: 0.5rem!important;
    max-width: -webkit-fill-available!important;
}

.buy-crypto-section-grid-item .currency-displayed{
    padding-right: 0rem!important;
}

.ss-main .ss-list{
    max-height: 20rem!important;
    border-radius: 0.5rem!important;
    box-shadow: none !important;
}

[data-theme="light"] .ss-main .ss-list{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
}

[data-theme="dark"] .ss-main .ss-list{
    background-color: #111111!important;
    border: 0.5px solid #333333;
}

[data-theme="light"] .ss-content .ss-search{
    background-color: #FAFAFA!important;
}

[data-theme="dark"] .ss-content .ss-search{
    background-color: #111111!important;
}

[data-theme="light"] .market-cap-tool .market-cap-tool-card input{
    border: 0.75px solid #EAEAEA;
}

[data-theme="dark"] .market-cap-tool .market-cap-tool-card input{
    border: 0.5px solid #333333;
}

/* cmc-coin-end*/
/* search-start */

.newsletter-banner{
    display: none!important;
}

[data-theme="light"] .banner-inner{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .banner-inner{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

.card-title.color-green-gradient{
    font-weight: 400!important;
}

.banner-inner a.read-more{
    margin-top: 1rem!important;
    font-weight: 400!important;
}

/* search-end */
/* team-start */
.our-team .team-grid-item img{
    border-radius: 0.5rem!important;
}

.our-team .team-grid-item .job{
    font-weight: 400!important;
    margin-bottom: 0.5rem!important;
}

.our-team .our-team-card header p{
    font-weight: 300!important;
}

.our-team .our-partner-desc{
    font-weight: 300!important;
}

.our-team .our-team-card{
    padding: 4rem 8rem!important;
}

[data-theme="light"] .our-team .our-team-card{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .our-team .our-team-card{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

.hiring-and-press-kit.d-flex.flex-column.flex-md-row{
    display: none!important;
}

/* team-end */
/* contact-start */

[data-theme="light"] .contact-us-card{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .contact-us-card{
    background-color: #111111!important;
    border: 0.5px solid #333333;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

.contact-us-card footer>.rounded-gray-ctn p{
    font-weight: 300!important;
}

.d-flex.rounded-gray-ctn > .position-relative{
    align-self: center!important;
}

.contact-us-card .right-arrow-ctn{
    border-radius: 0.5rem!important;
}

.contact-us-card p.description{
    letter-spacing: 0!important;
    font-weight: 300!important;
}

/* contact-end */
/* emploi-start */

.jobs .headline-texts p{
    font-weight: 300!important;
}

.d-flex.align-items-center.orange.card-shadow {
    background-color: #EEA93C!important;
}

.jobs button.orange p{
    font-weight: 300!important;
}

.jobs .headline-btns button.gray p{
    font-weight: 300!important;
}

[data-theme="light"] .job-card{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA!important;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .job-card{
    background-color: #111111!important;
    border: 0.5px solid #333333!important;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

.job-cards-ctn .job-card p.quality-required:nth-child(3) {
    display: none!important;
}

.timestamp{
    font-weight: 300!important;
}

.quality-required{
    border-radius: 0.25rem!important;
}

/* emploi-end */
/* event-start */

.add_event span{
    font-weight: 400!important;
}

.event_npr_top, .event_npr_bot{
    background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.9) 100%)!important;
    margin-right: 50vw!important;
}

.event_npr_top{
    border-radius: 0.5rem 0.5rem 0 0!important;
    height: -webkit-fill-available!important;
}

.event_npr_bot{
    border-radius: 0 0 0.5rem 0.5rem!important;
    max-height: 4rem!important;
    padding: 1rem 1.5rem!important;
}

.event_npr_date{
    position: absolute!important;
    right: 2rem!important;
    background-color: rgb(255 255 255 / 25%)!important;
    border-radius: 0.5rem!important;
    transition: all 0.5s ease-in-out!important;
}

.grid-item.one.card-shadow.event_npr.lazy:hover {
    transform: none!important;
}

.event-card .description{
    font-weight: 300!important;
}

.event_txt_bot{
    justify-content: space-between!important;
}

.page-section.last-news > .mb-3{
    display: none!important;
}

.main-content.home.event_single.mt-5 > .breadcrumb-desktop.cut-text{
    display: none!important;
}

.date-and-read-time p{
    font-weight: 400!important;
}

.event_btn_clair span{
    font-weight: 400!important;
}

.event_description{
    font-weight: 300!important;
    padding: 0!important;
}

[data-theme="light"] .event_inf_col{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA!important;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .event_inf_col{
    background-color: #111111!important;
    border: 0.5px solid #333333!important;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

.event_inf_col .haut .infos{
    font-weight: 600!important;
}

.list_prix{
    font-weight: 300!important;
    margin-bottom: 1rem!important;
}

.list_prix strong{
    width: -webkit-fill-available!important;
}

[data-theme="light"] .event_prog_inter.grid.grid-cols-2.align-items-center.crypto-infos-main-name.mt-4.gap-4 > div{
    background-color: #FAFAFA!important;
    border: 0.75px solid #EAEAEA!important;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

[data-theme="dark"] .event_prog_inter.grid.grid-cols-2.align-items-center.crypto-infos-main-name.mt-4.gap-4 > div{
    background-color: #111111!important;
    border: 0.5px solid #333333!important;
    transition: all 0.3s ease-in-out!important;
    border-radius: 0.5rem!important;
}

.event_inf_bas {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    color: #333;
    font-weight: 400;
    margin: 20px 0;
    text-align: justify;
    font-weight: 300!important;
}

.event_inf_bas br {
    content: " ";
    margin-bottom: 15px;
    display: block;
    line-height: 15px;
}

[data-theme="light"] .event_inf_bas br{
    border-bottom: 1px solid #EAEAEA!important;
}

[data-theme="dark"] .event_inf_bas br{
    border-bottom: 1px solid #333333!important;
}

.d-flex.flex-column.align-items-center.crypto-infos-main-name.mt-2.mb-5 .mt-1.mb-4 {
    font-weight: 300!important;
    font-size: 1rem!important;
    color: #585858!important;
}

p.article-subtitle{
    line-height: initial!important;
}

/* event-end */
/* author-end */

.author-page .author-info .author-links a{
    border-radius: 0.25rem!important;
}

.author-page .author-info p.author-desc{
    font-size: 1.1rem!important;
    max-width: 100%!important;
    font-weight: 300!important;
}

.author-page .author-info .author-profile-picture{
    border-radius: 0.5rem!important;
}

/* author-end */
/* video-start */

section.videos-banner{
    display: none!important;
}

/* video-end */
/* sidebar plugin crypto start */
[data-theme="dark"] .coin-info {
    border-bottom: 1px solid #1A1A1A;
}
[data-theme="light"] .coin-info {
    border-bottom: 1px solid #E5E5E5; 
}
.coin-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 1rem;
}

.coin-info img {
    width: 2rem;
    height: 2rem;
    margin-right: 0px;
}

[data-theme="dark"] .coin-info .ticker {
    color: white;
}
[data-theme="light"] .coin-info .ticker {
    color: black;
}
.coin-info .ticker {
    font-weight: bold;
    margin-right: 10px;
}

.coin-info .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.coin-info .price-change {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

[data-theme="dark"] .coin-info .price {
    color: white;
}
[data-theme="light"] .coin-info .price {
    color: black;
}
.coin-info .price {
    font-size: 1rem;
}
/* sidebar plugin crypto end */

/* outils start */
[data-theme="dark"] .outils_card.event_card.last-outils-card.card-shadow.bitcoin {
    background-color: white !important;
}

/* outils end */

/* halving start */
[data-theme="dark"] .countdown_titres {
    color: white !important;
}

.countdown .figure{
    background-color: transparent !important;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .countdown, .countdown_titres {
        display: flex!important;
        justify-content: space-between!important;
    }

    .countdown > div, .countdown_titres > span {
        flex: 1!important; /* This ensures that each box and label takes up equal space */
        text-align: center!important; /* This will center the text within each span */
      }
      
      /* Assuming each box has a fixed width, we can align the spans by giving them the same width */
      .countdown > div {
        width: 4rem!important; /* or whatever the width of the boxes is */
        flex: 1!important;
      }
      
      /* Optional: If you want to align the text vertically */
      .countdown, .countdown_titres {
        align-items: center!important; /* This will vertically align the items in the center if the parent has a specific height */
      }

      .countdown_titres {
        display: flex!important;
        justify-content: space-between!important;
        gap: 0.8rem!important;
      }
      
      .countdown_titres > span {
        flex: 1!important; /* This makes sure each label grows equally */
        text-align: center!important; /* Center the text within each label */
      }

      .countdown_titres>span:first-child {
        margin-left: 2rem!important;
      }
}

/* halving end */

/* 404 start */

form input[type="image"][alt="Search"] {
    left: -16em !important;
}

[data-theme="light"] .pageerreur{
    background-color: white!important;
}

[data-theme="dark"] .pageerreur{
    background-color: black!important;
}

/* 404 end */

/* lightbox start */
.modal .close {
    display: none!important;
}

.modal-content {
    width: auto!important;
    max-width: 90%!important;
    max-height: 90%!important;
    height: auto!important;
    top: 50%!important;
    position: fixed!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
}

.modal #caption {
    display: none!important;
}

/* lightbox end */

}